<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158669191484-53rbnq92ul05btdjkla1breblr34bvqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158669191484-53rbnq92ul05btdjkla1breblr34bvqd</string>
	<key>API_KEY</key>
	<string>AIzaSyA1kHR_r-lCmBWUQfv8F8UO6sejl14kHNk</string>
	<key>GCM_SENDER_ID</key>
	<string>158669191484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DemoApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-44116</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-44116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158669191484:ios:f7393568939fe259660639</string>
</dict>
</plist>